<link rel="stylesheet" href="./content/design.css">

<div class="banner">
    <div class="history">
        <!-- <h3>What is modern calligraphy?</h3>
        <p>Modern calligraphy is any calligraphy style that does not follow the fundamental rules of traditional
            calligraphy
            scripts such as Copperplate, Spencerian, Italic, Blackletter, etc. Modern calligraphy relies on certain
            principles of
            traditional calligraphy. However, it can provide you with more creative freedom.</p> -->
        <h3>What is Hand-Lettering & Design calligraphy ?</h3>
        <p>Hand Lettering has a completely different form from the usual writing rules, which is to draw the letters and
            decorate
            them, very different from writing them.</p>
    </div>
</div>
<div class="container d-lg-flex d-md-block mb-5 mt-5">
    <div class="feature mr-4">
        <strong>Features : </strong>
        <p>When drawing Hand Lettering types, the letters you control are simpler, completely different from
            Calligraphy. That's
            what makes Hand Lettering the perfect alternative to projects that are oversized to calligraphy, such as
            blackboards or
            other types of signage.
        </p>
    </div>
    <div class="feature ">
        <strong style="background-color: green;">Method : </strong>
        <p>Uses the principles of down-to-light for strokes, but instead of being recorded with a brush and ink, Hand
            Lettering is
            usually written only with a quill pen. I usually use Sharpies, or brush-tip pens or water-based pens to
            write all kinds
            of letters.
        </p>
    </div>
</div>

<div class="container" ng-controller="designCrt">
    <div class="display container">
        <h3>Display for : <button ng-click="filterActive(0)" class={{filter[0]}}>Arabic</button> <button
                ng-click="filterActive(1)" class={{filter[1]}}>Indic</button>
            <button ng-click="filterActive(2)" class={{filter[2]}}>Greek</button>
        </h3>
    </div>

    <div class="design" ng-show="filterBox[0]">
        <div class="design-boxes">
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/66/c8/1f/66c81f1932118e90a18a6aecd3619791.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Hand-Lettering</h4>
                <h5>Passion</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/51/75/03/517503e911f336c658fe0c63c0a7d4eb.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Hand-Lettering</h4>
                <h5>Typography Design</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/a5/9a/77/a59a77314fb9b095d7892b35a45cbe04.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Design</h4>
                <h5>Inspiration</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/36/8b/8e/368b8e981cd064a5946ceab02d84f3db.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Hand-Lettering</h4>
                <h5>Passion</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/63/5a/b2/635ab227cc88f415f978a78c33a21ab4.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Hand-Lettering</h4>
                <h5>Typography Design</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/ac/b7/85/acb7854aa2733227edada5c92114f0fe.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Design</h4>
                <h5>Inspiration</h5>
            </div>
        </div>
    </div>
    <div class="design" ng-show="filterBox[1]">

        <div class="design-boxes">
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/5e/ad/bd/5eadbdc5bba1c8c2460aa6f6188eafa9.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Design</h4>
                <h5>Passion</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/3c/7d/81/3c7d81b02fdaff07780be6105e390b09.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Hand-Lettering</h4>
                <h5>Typography Design</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/ff/66/19/ff66194c0e4cafd9d12a4b489f7cfa77.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Design</h4>
                <h5>Inspiration</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/fd/16/39/fd1639462eb40bf990233f0998484601.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Design</h4>
                <h5>Passion</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/564x/aa/e0/d5/aae0d55987a01f1e1dea8f8edece1a23.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Hand-Lettering</h4>
                <h5>Typography Design</h5>
            </div>
            <div class="design-box">
                <img class="card-img1"
                    src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTncw8WbwcrYzoaBX51MGURrkrfoddvZuview&usqp=CAU"
                    alt="">
                <div class="line"> </div>
                <h4>Design</h4>
                <h5>Inspiration</h5>
            </div>
        </div>
    </div>
    <div class="design" ng-show="filterBox[2]">
        <div class="design-boxes">
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/f1/90/79/f190794e3836ced458e35297fc2892c1.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Hand-Lettering</h4>
                <h5>Passion</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/37/55/ee/3755ee0e2541fac705c9afd7626b4833.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Design</h4>
                <h5>Typography Design</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/f4/3b/da/f43bda0d119fbf37720abe822ed73669.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Design</h4>
                <h5>Inspiration</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/474x/10/26/5e/10265eb1ead4be92dceac51485c3e33d.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Hand-Lettering</h4>
                <h5>Passion</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/564x/aa/e0/d5/aae0d55987a01f1e1dea8f8edece1a23.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Hand-Lettering</h4>
                <h5>Typography Design</h5>
            </div>
            <div class="design-box">
                <img class="card-img1" src="https://i.pinimg.com/564x/4a/cb/f5/4acbf5239f78b19c634cde298bae7509.jpg"
                    alt="">
                <div class="line"> </div>
                <h4>Design</h4>
                <h5>Inspiration</h5>
            </div>
        </div>
    </div>
</div>